{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row text-center logo">
<div class="col-12"  style="font-family: 'Slabo 27px', serif;">
   <h2 class=display-2>Categories
             </h2>
</div>

</div>


<!-- Heading & Description -->
        <div class="wow fadeIn">
          
       
          
        </div>
        <!-- Heading & Description -->
    
        
{% for category in categories %}
 <main class="mt-5 pt-5">
    <div class="container">

      <!--Section: Jumbotron-->
      <section class="card blue-gradient wow fadeIn">

       
        
      </section>
      <!--Section: Jumbotron-->

      <!--Section: Cards-->
      <section class="pt-5">

        
        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
              <img src="{{ MEDIA_URL }}{{ category.image }}" class="img-fluid" alt="">
              <a href="{{category.get_absolute_url}}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
            <h3 class="mb-3 font-weight-bold dark-grey-text">
              <strong><a href="{{category.get_absolute_url}}">{{ category.name }}</a></strong>
            </h3>
            <p class="grey-text">Push messaging provides a simple and effective way to re-engage with your users and in
              this tutorial
              you'll learn how to add push notifications to your web app</p>
            <a href="{{category.get_absolute_url}}" class="btn btn-primary btn-md">{{ category.name }}
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>
          <!--Grid column-->

        
    

      </section>
      <!--Section: Cards-->

    </div>
  </main>
  <!--Main layout-->

  
{% endfor %}
  
{% endblock %}