{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
	<div class="container text-center">
		<div class="row text-center logo">
			<div class="col-12">
				<img  src="https://chris-ecommerce-project.s3.eu-north-1.amazonaws.com/static/imgs/pop_symbol.jpg" alt="Logo" >

        </div>

			</div>
		</div>


		<div class="container" style="margin-bottom:100px;">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					{% for category in categories %}
					<div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
						id="slide{{ forloop.counter }}">
						<a href="{{category.get_absolute_url}}">
							<img  src="{{ MEDIA_URL }}{{ category.image }} " style="" class="d-block w-100" alt="..."></a>
                            
							<div class="carousel-caption"  >
                            
								<h3 style="font-family: Raleway;font-weight:900;text-shadow: 0px 0px 3px #000;font-size:50px" >{{ category.name }} </h3>
								
							</div>
							
					</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" ></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>

		</div>

		<div class="album py-5 bg-light" >
			<div class="container text-center ">
				<h1 class="text-center">Popular POPS</h1>
				<div class="row row-flex">

					{% for product in products %}


					<div
						class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
						<div class="panel-body">
							<a href="{{product.get_absolute_url}}">
								<div class="product"
									style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div></a>
							
                          
                           <a href="{{product.get_absolute_url}}"> <h5 style="text-align:center">{{ product.name }}</h5></a>
                            <h5>{{ product.brand }}</h5>
                            <h5>${{ product.price }}</h5>
							
                           
                           
                          
                        
							
							<form method="post" class="d-flex justify-content-center"
								action="{% url 'add_to_cart' product.id %}">
								{% csrf_token %}
								<!-- Default input -->
								<input type="number" value="1" aria-label="Search" min="0" class="form-control"  name="quantity" style="display:none">
								<button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

							</form>
						</div>
					</div>



					{% endfor %}
				</div>
       

			</div>
		</div>
</main>



<script>
	$('.carousel').carousel()
</script>

{% endblock %}