{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
<div class="row text-center logo">
<div class="col-12">
<img  src="static/imgs/pop_symbol.jpg" alt="Logo" >
<h1 class="display-1 " style="font-family: 'Slabo 27px', serif;">Viking POP </h1>

</div>

</div>
</div>
<h1 class="text-center">{{ category.name }}</h1>
<div class="row row-flex">
	{% for product in products %}
    

	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
		<div class="panel-body">
			<a href="{{product.get_absolute_url}}"><div class="product" style="border:1px solid black; background-image: url('{{ MEDIA_URL }}{{ product.image }}');";>
            </div></a>
            <h5 style="text-align:center">{{ product.name }} - <p>${{ product.price }}</p>
			</h5>
            
            <form method="post" class="d-flex justify-content-center" action="{% url 'add_to_cart' product.id %}">
				{% csrf_token %}
				<!-- Default input -->
				<input type="number" value="1" aria-label="Search" min="0" class="form-control"  name="quantity"style="width: 100px">
				<button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

			</form>
		</div>
	</div>
    
			
    
	{% endfor %}
</div>
			
			

<!-- <div class="row row-flex">
    {% for product in products %}
    
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
            <h2 style="text-align:center"><a href="{{ products.get_absolute_url }}">{{ product.category }}</a></h2>
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>

			<form method="post" class="d-flex justify-content-left" action="{% url 'add_to_cart' product.id %}">
				{% csrf_token %}
			
				<input type="number" value="1" aria-label="Search" min="0" class="form-control"  name="quantity"style="width: 100px">
				<button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

			</form>
            </div>
        </div>
    {% endfor %}
</div> -->
{% endblock %}