{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row text-center">
		<div class="col-12">
			<h3 class="display-4 main-heading" style="margin-top:50px; font-family: 'Poppins', sans-serif;">
				{{ products.name }}</h3>
		</div>

	</div>
	<div class="row">
		<div class="col-md-5">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				
				<div class="carousel-inner ">
					<div class="carousel-item active">
                    <!-- Trigger the Modal -->
                    <img class="d-block w-100 img-detail" id="myImg" src="{{ MEDIA_URL }}{{ products.image2 }}" style="height:500px; width:445px;">
                    </div>
						<div class="carousel-item">
                        <!-- Trigger the Modal -->
							<img class="d-block w-100 img-detail" id="myImg2" src="{{ MEDIA_URL }}{{ products.image }}" style="height:500px; width:445px;">
                        </div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
							data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
							data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-md-7" style="padding-left: 100px; padding-top: 100px;">
					<h2><strong>{{ products.brand }}</strong></h2>
					<h2 class="detail" style="color: #555;">{{ products.description }}</h2>
					<style>
						
					</style>
					<h2>${{ products.price }}</h2>
					<form method="post" class="d-flex justify-content-left"
						action="{% url 'add_to_cart' products.id %}">
						{% csrf_token %}
						<!-- Default input -->
						<input type="number" value="1" aria-label="Search" class="form-control"  name="quantity" style="width: 100px">
						<button class="btn btn-responsive btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>
             
              <style>
             

              </style>

					</form>
				</div>
			</div>

		</div>






<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">
  <img class="modal-content" id="img02">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script>// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var img2 = document.getElementById('myImg2');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

//handle click for myImg2
img2.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}</script>
		{% endblock %}