{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" >
      <div class="col-md-5 p-lg-5 mx-auto my-5" >
        <h1 class="display-4 font-weight-normal">Punny headline</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>



<div class="row row-flex">
	{% for product in products %}
    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
		<div class="panel-body">
			<h2 style="text-align:center"><a href="{{product.category.get_absolute_url}}">{{ product.category }}</a>
			</h2>
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

			<a href="{{product.get_absolute_url}}">{{ product.name }}</a>
			<h3>{{ product.name }}</h3>

			<p class="product-description">{{ product.description }}</p>
			<p>{{ product.price }}</p>

			<form method="post" class="d-flex justify-content-left" action="{% url 'add_to_cart' product.id %}">
				{% csrf_token %}
				<!-- Default input -->
				<input type="number" value="1" aria-label="Search" class="form-control"  name="quantity"style="width: 100px">
				<button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

			</form>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}