
body {
    font-family: Arial;
    padding-top: 50px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
    padding-left: 500px;
    padding-right: 600px;
}
.container{
    text-align: center;
}

.messages{
    text-align: center;
    padding-right: 10px;
}

.home_content{
    text-align: center;
}

.reg-heading{
    text-align: center;
}

