html {
    position: relative;
    min-height: 100%;
    
}
body {
    overflow-x:hidden;
    margin-left: 20px;
    margin-right: 20px;
    
    
    
}

 /* Landing Page */




.container-content{
    min-height: 100vh;
    padding-bottom: 100px;

}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 100px;
    padding-left: 714px;
    padding-right: 600px;
}


.messages{
    text-align: center;
    padding-right: 10px;
}

.home_content{
    text-align: center;
}

.reg-heading{
    text-align: center;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

 /* Styling for products image*/
.product {
    text-align: center;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.product:hover {opacity: 0.7;}

.link { 
    color: black; text-decoration: none;
    } 
.link:hover { 
    color:  grey; text-decoration: none; 
}
caption p {
    word-wrap: break-word;
}

.product-description {
    min-height: 40px;
}

.total{

  margin-right: 110px
}


.container-cart{
   text-align: center;
   margin-right: 47%;
}

 /* cart page */
 .page-header {
  text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .page-header {
    text-align: left;
  }
  .page-header small {
    display: inline;
  }
}

/* add to cart button */
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    margin-bottom: 35px;
}

.cart-item{
    margin-left: 5px;
}

.cart-row {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.cart-row div {
  text-align: center; 
}

.cart-row img.img-responsive { 
  margin: 0 auto; 
  width: 150px;
    height: 150px;
}

.h3 {
font-family: 'Raleway'
}

@media screen and (max-width: 600px) {
	.detail {
	    font-size: 1rem;
	}
}

 @media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

/* Products detail page*/
.img-detail{
    height:500px; 
    width:445px;
}
/* Style the Image Used to Trigger the Modal */


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}
#myImg2:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 23%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

 /* Paginator*/
  @media (min-width: 768px) {
  .page {
    margin-left:140px
  }
}

 /* registration page page */
.error-msg{

    color:red;
}
.reg-row{
    background: #e8e8e847;
}

.con-reg{
    padding-top:150px
}