
body {
    font-family: Arial;
    overflow-x:hidden;
    margin-left: 20px;
    margin-right: 20px;
    
    
}
.carousel-control-prev{
    color: black;
}

.carousel-control-next{
    color: black;
}


.jumbotron{
  background-color: transparent;
}



.navbar{
    margin-bottom: 100px;
}
.cart-item{
    margin-left: 5px;
}

footer {
    margin-top: 290px;
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
    padding-left: 500px;
    padding-right: 600px;
}
.container{
    text-align: center;
}

.messages{
    text-align: center;
    padding-right: 10px;
}

.home_content{
    text-align: center;
}

.reg-heading{
    text-align: center;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    text-align: center;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.products {
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}



.product-description {
    min-height: 40px;
}

.total{

  margin-right: 110px
}


.container-cart{
   text-align: center;
   margin-right: 47%;
}

.happiness{
    background-color: pink;
}


 /* cart page */
 .page-header {
  text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .page-header {
    text-align: left;
  }
  .page-header small {
    display: inline;
  }
}

.cart-row {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.cart-row div {
  text-align: center; 
}

.cart-row img.img-responsive { 
  margin: 0 auto; 
  width: 150px;
    height: 150px;
}

.h3-quote { 
  color: rgb(20, 80, 150);
 font-family: 'Zhi Mang Xing', cursive;
}

