
body {
    font-family: Arial;
    overflow-x:hidden;
    margin-left: 20px;
    margin-right: 20px;
    
    
}


/* .jumbotron{
background: #c0392b;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #8e44ad, #c0392b); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /* margin-top: 100px; */
} */

 /* Landing Page */

.main-heading{
    font-family: 'Zhi Mang Xing', cursive;

}


.cart-item{
    margin-left: 5px;
}

footer {
    margin-top: 290px;
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
    padding-left: 500px;
    padding-right: 600px;
}


.messages{
    text-align: center;
    padding-right: 10px;
}

.home_content{
    text-align: center;
}

.reg-heading{
    text-align: center;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    text-align: center;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.product_detail:hover{
    background-image: url('{{ MEDIA_URL }}{{ products.image2 }}')
}
.products {
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}



.product-description {
    min-height: 40px;
}

.total{

  margin-right: 110px
}


.container-cart{
   text-align: center;
   margin-right: 47%;
}

.happiness{
    background-color: pink;
}


 /* Product detail page */
 .carousel-indicators li {
   display: inline-block;
   width: 10px;
   height: 10px;
   margin: 1px;
   text-indent: -999px;
   cursor: pointer;
   background-color: #000 \9 !important;
   background-color: rgba(255, 255, 255, 100)!important;
   border: 1px solid #000000!important;
   border-radius: 10px!important;
 }
 
 .carousel-indicators .active {
   width: 12px;
   height: 12px;
   margin: 0;
   background-color: #333 \59;
   background-color: rgba(255, 0, 0, 50);
}





 /* cart page */
 .page-header {
  text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .page-header {
    text-align: left;
  }
  .page-header small {
    display: inline;
  }
}

.cart-row {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.cart-row div {
  text-align: center; 
}

.cart-row img.img-responsive { 
  margin: 0 auto; 
  width: 150px;
    height: 150px;
}

.h3-quote { 
  color: rgb(20, 80, 150);
 font-family: 'Zhi Mang Xing', cursive;
}

