{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <form method="post" action="{% url 'registration' %}" class="accountform">
        <fieldset class="form-group">
            <legend class="reg-heading">Create a new account</legend>
            <p class="reg-heading">Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
            {% csrf_token %}
            {{ registration_form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Create account</button>
        </fieldset>
    </form>
{% endblock %}