{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

{% if product_count > 0 %}
<h1 class="text-center">Your cart</h1>
 {% for item in cart_items %}
<div class="container bg-light" >
  <hr>
  <div class="row">

    <div class="col-sm" >
    <h5>Item: <a href="{{item.product.get_absolute_url}}">{{ item.product.name }}</a></h5>
      <a class="thumbnail pull-left" href="{{item.product.get_absolute_url}}">
			<img class="media-object" src="{{ MEDIA_URL }}{{ item.product.image }}" style="width: 72px; height: 72px;"> </a>
            <!-- <h5 style="padding-bottom:20px;"> Category : <a href="{{item.product.category.get_absolute_url}}">{{ item.product.category }}</a></h5> -->
    </div>
    <div class="col-sm">
    <h5>Quantity</h5>

      <form action="{% url 'adjust_cart' item.id %}" method="POST" class="d-flex justify-content-left">
		{% csrf_token %}
		<input name="quantity" type="number" min="0" max="999" class="form-control" placeholder="{{item.quantity}}"  style="width: 100px"required>
		<button class="btn btn-primary btn-md my-0 p"  type="submit">Add</button>
	   </form>
        </div>
    <div class="col-sm">
      <h4>Price: <strong>${{ item.product.price }}</strong>
       <a href="{% url 'remove_from_cart' item.id %}" ><i class="fas fa-minus-circle  " style= "color: red;"></i></a></h4> 
    </div>
  </div>
</div>

	
{% endfor %}
{% endif %}

<div class="row text-center">


<div class="col">
<h3>Total</h3>
					
<h3><strong>${{ total}}</strong></h3>
<a class="btn btn-primary" href="{% url 'product_home' %}" role="button">To Shop</a>
	<a href="{% url 'checkout' %}" class="btn btn-dark" role="button">Checkout</a>
</div>
</div>



{% if product_count == 0 %}
<div class="text-center" style="padding-top:200px;">
<h1>Your cart is empty!</h1>
<a class="btn btn-primary" href="{% url 'product_home' %}" role="button">To Shop</a>
</div>
{% endif %}
{% endblock %}