{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
 <heading class="col-11 col-md-8 col-lg-6 text-center">
                <h1>Your shopping cart</h1>
            </heading>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{ MEDIA_URL }}{{ item.product.image }}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{item.product.get_absolute_url}}">{{ item.product.name }}</a></h4>
                                 <h5 class="media-heading"> Category : <a href="#">{{ item.product.category }}</a></h5> 
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" >


                    <form action="{% url 'adjust_cart' item.id %}" method="POST" class="d-flex justify-content-left">
		                {% csrf_token %}
                        <input name="quantity" type="number" min="0" max="999" class="form-control" placeholder="{{item.quantity}}"  style="width: 100px"required>
                        <button class="btn btn-primary btn-md my-0 p"  type="submit">Add</button> 
	                </form>


                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ item.product.price }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.quantity}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>${{ total}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <a class="btn btn-primary" href="{% url 'product_home' %}"  role="button">Shop</a>
                          
                        </td>
                        <td>
                        
                        
                            <a href="{% url 'checkout' %}" class="btn btn-dark" role="button">Checkout</a> <span class="glyphicon glyphicon-play"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}